name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Check formatting
      run: cargo fmt --all --check
    - name: Run clippy
      run: |
        sudo apt-get install libhdf5-dev
        cargo clippy --all-targets -- -D warnings
    - name: Run tests
      run: cargo test
