name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Check formatting
      run: |
        rustup component add rustfmt --toolchain nightly
        cargo +nightly fmt --all --check

    - name: Run clippy
      run: |
        sudo apt-get install libhdf5-dev
        cargo clippy --all-targets -- -D warnings

    - name: Run tests
      run: |
        rustup show active-toolchain
        cargo test

    - name: Run tests (no default features)
      run: |
        rustup show active-toolchain
        cargo test --no-default-features
